/* geral*/

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* margin: 0 auto; */

#menu ul {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}

#logo {
    width: 80px;
    height: 80px;
}

#menu {
    background-color: rgb(107, 111, 114);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
    float: right;
}

#menu ul li a:hover {
    background-color: rgb(146, 37, 10);
}

/* banner */
#main-banner {
    background: url(imgs/banner6.jpg) no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 0px;
}

#search-form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

/* seção de Serviços*/
#lastjobs-container {
    text-align: center;
    padding: 100px 0;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#lastjobs-container h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

#lastjobs-container ul {
    padding: 0px;
    border: 1px solid #CCC;
    border-radius: 20px;
}

#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: solid 1px #CCC;
    height: 80px;
    position: relative;
}

#lastjobs-container ul li:last-child {
    border: none;
}

.clickarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* company img */
.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 2%;
}

.company-box img {
    width: 80px;
    margin-top: 2.5px;
}

.company-info {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
    position: absolute;
}

.company-info h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}

.locality {
    color: #6d6d6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}

.locality i, .locality p {
    display: inline-block;
}

.locality i {
    margin-right: 5px;
}

/* company job type */
.job-type {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFF;
}

.job-type span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #FFF;
}

.clt {
    background-color: #735fee;
}

.pj {
    background-color: #5BBC2E;
}

.homeoffice {
    background-color: #FF5a5F;
}

.btn-jobs {
    text-transform: uppercase;
    background-color: #FFF;
    color: #3381F3;
    border: 2px solid #3381F3;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0,5s:
}

.btn-jobs:hover {
    background-color: #3381F3;
    color: #FFF;
}

/* send jobs container */
#sendjobs-container {
    background: url(imgs/banner3.jpg) no-repeat;
    background-size: cover;
    background-position: 0 25%;
    padding: 15em 0;
}

#sendjobs-container h2, #sendjobs-container p {
    width: 600px;
    color: rgb(29, 24, 24);
}

#sendjobs-container h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

#sendjobs-container p {
    font-size: 18px;
    margin-bottom: 50px;
}

.ligth-btn {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.ligth-btn:hover {
    background-color: transparent;
    color: #FFF;
}



/* MENU FIXED 

 .formacao{background-image:url("imgs/")}

    .foto-perfil, .logo-perfil{
        position:absolute;
        height:200px; width:200px; float:left;
        margin-left:-100px; left:50%;
        background-repeat:no-repeat;
        background-color:transparent;
        background-size:cover;
        border-radius:50%}
    .foto-perfil{background-image:url("imgs/")}
    .logo-perfil{background-image:url("imgs/")}
    
    .top100{padding-top:100px}
    .top100px{margin-top:100px; margin-bottom:60px;}

    .home, .home:hover{
        height:59px; width:190px; float:left;
        margin-top:5px; margin-left:38px;
        background-image:url("imgs/manchinha-logo-menu.png");
        background-repeat:no-repeat;
        background-color:transparent;
        background-size:cover}

    .foto-perfil .home{position:fixed; background-position: -50% 0}
    .home:hover{position:fixed; background-position:-50% 100%}

    .menu-bar, .menu-index{
        position: fixed;
        _position: absolute;
        _top: expression(body.scrollTop + document.body.clientHeight - 35 + "px");
        height:72px; width:100%;
        margin-top:0; padding:0; top:0;
        float:left;
        display:block;
        z-index:900;
        background-color:#fff}

    .lista, .lista-2{
        position:absolute;
        width: 100%}
    .lista{display:block;}
    .lista-2{display:none}

    .menu-index ul {
        position:relative;
        width:100%;
        list-style-type:none;
        overflow:hidden;
        float:left;
        left:50%;
        background-color:transparent}

    .menu-bar ul {
        position:fixed;
        width:auto;
        list-style-type:none;
        overflow:hidden;
        top:0; float:right;
        margin:22px 38px 0 0;
        right:0;
        background-color:transparent}

    .menu-bar li, .menu-bar li a:hover,
    .menu-index li, .menu-index li a:hover {
        float:left; list-style:none}

    .menu-bar a.bt-on, .menu-bar a.bt-on:hover {
        color:#fff;
        border:1px #fff solid;
        border-radius: 4px;
        background-color:#00AEEF;
        border:1px #00AEEF solid}

    .menu-bar li a, .menu-index li a {
        font:12px 'Roboto', sans-serif;
        letter-spacing:0.5px;
        display: block;
        margin:0 4px 0 4px; padding:0;
        text-decoration:none}

    .menu-bar li a{padding-bottom:28px}
    .menu-bar li a:hover{padding-bottom:22px}

    .menu-index li a{padding:0}
    .menu-index li a:hover{padding:0; color:#000}

    .menu-bar li a, .menu-index li a {
        color:#fff}

    .menu-bar li a:hover{
        color:#46bdf4;
        transition:0.5s}

    .menu-bar a.bt-on, .menu-bar a.bt-on:hover,
    .menu-bar li a, .menu-bar li a:hover{padding: 4px 5px;}


    .card{
        width:29%;
        margin:0;
        padding: 0;
        display: inline-block}

    .card-2{
        width:20%; height:auto;
        margin:0;  padding:0;
        display:table-cell;}

    .familia{
        background-image:url("imgs/vc-background-03.jpg");
        background-repeat:no-repeat;
        background-color:transparent;
        background-size:cover}


/*
h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header 
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/*navbar 
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

nav::after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    transition: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.nav-container li a:houver {
    color: #3381F3;
}
*/